h1 {
    color:black;
    font-size: 80px;
    font-family:'Trebuchet MS';
    z-index: 1;
}
.cherriesimg {
    width: 200px;
    height: 200px;
    display: inline;
    
}
h2 { 
    color:red;
    text-align: center;
    z-index: 1;
}
.gray {
    display: inline;
    width: 600px;
    height: 800px;
    background-color: dimgrey;
    z-index: 1;
    margin-left: 700px;
    margin-bottom: 50%;
}
body {
    align: center;
}
